/*mods to David's mods*/
.form-control { display: inline; min-width: 20px; width: 100%; }

/*Bootswatch PAPER.CSS customization*/
.label-default { margin: 4px 4px 4px 0;}
.label-info { margin: 4px 4px 4px 0;}
.modal-footer .btn+ .btn { margin: 4px 4px 4px 0; }

/*typeahead localization*/
input.typeahead-suggestions.form-control.tt-hint { top: inherit !important; }

/*company logo*/
/*.navbar-brand>img { border-radius: 3px; box-shadow: 1px 1px 4px rgba(0,0,0,0.4); }*/

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {font-size: inherit;}

/*field help texts*/
[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

/*fixes*/
.select2-container { margin-top: 1px; }
