input:focus:valid, textarea:focus:valid { background-color: transparent  }
.navbar-inverse .navbar-nav > li > a { font-size: 1.1em; color: #b2dbfb; }

.tt-suggestion:hover { cursor: pointer; color: #fff; background-color: #2196f3; }
.tt-suggestion.tt-cursor { color: #fff; background-color: #2196f3; }

hr.compact {
    margin-top: 5px;
    margin-bottom: 5px;
}

.help-block {
    margin-bottom: 5px;
}

/*modal related*/
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

/*.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}*/

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}
